@model IEnumerable<KeysOnboardingProject2.Models.ProductSold>

@{
    ViewBag.Title = "Index";
}

<h2>Sales List</h2>

<p>
    <a id="btnCreate" href="#myModal" class="btn btn-success" data-toggle="modal">Create New Sale</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSold)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSold)
        </td>
        <td>
            <a id="btnEdit" href="#myModal" class="btn btn-info" data-toggle="modal" data-id="@item.Id">Edit</a>
            <a id="btnDelete" href="#myModal" class="btn btn-danger" data-toggle="modal" data-id="@item.Id">Delete</a>
        </td>
    </tr>
}

</table>

<div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#btnCreate").click(function (event) {
            $("#modal-content").load("/Sales/Create");
        })

        $("#btnEdit").click(function (event) {
            $("#modal-content").load("/Sales/Edit/" + $(this).data("id"));
        });

        $("#btnDelete").click(function (event) {
            $("#modal-content").load("/Sales/Delete/" + $(this).data("id"));
        });
    </script>
    }
